@{
    ViewBag.Title = "Money";


    DateTime day;
    if (ViewData["day"] == null)
    {
        day = DateTime.Now;
    }
    else
    {
        day = (DateTime)ViewData["day"];

    }

    //var moneyDay = (teethLab.moneyDay)ViewData["moneyDay"];

    teethLab.teethLabEntities db = new teethLab.teethLabEntities();
    //int lastId = db.moneyDays.Max(o => o.id);
    //int startCredit = 0;
    //if (lastId != 0)
    //{
    //    startCredit = db.moneyDays.Find(lastId).credit;
    //}

    //int credit = (int)ViewData["credit"];

    //var companies = (List<teethLab.company>)ViewData["companies"];

    //var emps = (List<teethLab.employee>)ViewData["emps"];

    //var doctors = (List<teethLab.doctor>)ViewData["doctors"];

    List<teethLab.money> moneyImport = db.moneys.Where(o => o.import == true && o.recieveDate.Value.Day == day.Day && o.recieveDate.Value.Month == day.Month && o.recieveDate.Value.Year == day.Year).ToList();
    List<teethLab.money> moneyExport = db.moneys.Where(o => o.import == false && o.recieveDate.Value.Day == day.Day && o.recieveDate.Value.Month == day.Month && o.recieveDate.Value.Year == day.Year).ToList();

}
<style>

</style>
<div>
    <div class="container">
        <div class="row headings">
        </div>
        <div class="row ">
            <div class="dateAndBalance">
                <input style="margin:10px auto !important" type="date" class="" value="@day.ToString("yyyy-MM-dd")" id="day" />
                <h2 style="margin:10px auto !important;width:20%">Starting Balance : <span id="startCredit">0</span></h2>
            </div>
        </div>
        <div class="row">
            <input type="button" id="toBtnToggle" value="to" style="width:100%" />
        </div>
        <div class="row" id="toDivToggle">
            <div class="alert-box ss-info hideit">
                <form class="alert-box ss-error hideit" method="post" action="@Url.Action("Export","Money")">


                    <div class="row">
                        <div class="col-md-4">
                            <select id="companySelect" name="companySelect" style="float:left" disabled>
                                <option>Companies</option>
                                @{
                                    foreach (var item in db.companies)
                                    {
                                        <option value="@item.id">@item.name</option>
                                    }
                                }
                            </select>
                            <input type="checkbox" name="companyCheckBox" style="float:left" id="companyCheckBox" />
                        </div>
                        <div class="col-md-4">
                            <label style="float:left"></label>

                            <select style="float:left" id="employeeSelect" name="employeeSelect" disabled>
                                <option>Employees</option>
                                @{
                                    foreach (var item in db.employees)
                                    {
                                        <option value="@item.id">@item.name</option>
                                    }
                                }
                            </select>
                            <input type="checkbox" style="float:left" name="employeeCheckBox" id="employeeCheckBox" />

                        </div>
                        <div class="col-md-4">


                            <input class="form-control" style="float:left" type="text" name="otherTo" id="otherTo" disabled placeholder="other" />
                            <input type="checkbox" style="float:left" id="otherCheckBox" name="otherCheckBox" />
                            <input type="hidden" class="" value="@day.ToString("yyyy-MM-dd")" name="day" />

                        </div>




                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" type="number" id="valueTo" name="valueTo" placeholder="value" />

                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" id="toNotes" name="toNotes" placeholder="notes" />

                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="submit" id="toBtn" name="toBtn" value="Add" />

                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-3">To</div>
                    <div class="col-md-3">Value</div>
                    <div class="col-md-3">Notes</div>
                    <div class="col-md-3">
                    </div>
                </div>

                @{

                    int exportsum = 0;
                    foreach (teethLab.money money in moneyExport)
                    {
                        exportsum += money.value;
                        <div class="row">
                            @{
                        if (money.company != null)
                        {
                            <div class="col-md-3">@money.company.name</div>
                        }                       
                        else if (money.employee != null)
                        {
                            <div class="col-md-3">@money.employee.name</div>
                        }
                        else
                        {
                            <div class="col-md-3">@money.other</div>

                        }
}
                            <div class="col-md-3">@money.value</div>
                            <div class="col-md-3">@money.notes</div>
                            <div class="col-md-3">
                                <form method="post" action="@Url.Action("delete", "Money")">
                                    <input type="hidden" name="moneyId" value="@money.id" />
                                    <input type="hidden" class="" value="@day.ToString("yyyy-MM-dd")" name="day" />
                                    <input class="form-control" type="submit" id="deleteToBtn" value="Delete" />
                                </form>
                            </div>
                        </div>
                    }
                }
<div class="row">
    <h1>Sum : <span id="exportsum">@exportsum</span></h1>
</div>
            </div>

        </div>
        <div class="row">
            <input type="button" id="fromBtnToggle" value="from" style="width:100%" />
        </div>
        <div class="row" id="fromDivToggle">
            <div class="tables">
                <div class="alert-box ss-info hideit">
                    <form class="alert-box ss-error hideit" method="post" action="@Url.Action("Import","Money")">


                        <div class="row">
                            <div class="col-md-3">
                                <select id="doctorSelect" style="float:left">
                                    <option>Doctors</option>
                                    @{
                                        foreach (var item in db.doctors)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-md-3">
                                <input class="form-control" type="number" id="valueFrom" placeholder="value" />


                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" id="fromNotes" placeholder="notes" />

                            </div>
                            <input type="hidden" class="" value="@day.ToString("yyyy-MM-dd")" name="day" />

                            <div class="col-md-3">
                                <input class="form-control" type="submit" id="fromBtn" value="Add" />

                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-3">To</div>
                        <div class="col-md-3">Value</div>
                        <div class="col-md-3">Notes</div>
                        <div class="col-md-3">
                        </div>
                    </div>

                    @{

                        int importsum = 0;
                        foreach (teethLab.money money in moneyImport)
                        {
                            importsum += money.value;
                            <div class="row">
                                @{
                          if (money.doctor != null)
                            {
                                <div class="col-md-3">@money.doctor.name</div>
                            }
                     
                                }
                                <div class="col-md-3">@money.value</div>
                                <div class="col-md-3">@money.notes</div>
                                <div class="col-md-3">
                                    <form method="post" action="@Url.Action("delete", "Money")">
                                        <input type="hidden" class="" value="@day.ToString("yyyy-MM-dd")" name="day" />
                                        <input type="hidden" name="moneyId" value="@money.id" />
                                        <input class="form-control" type="submit" id="deleteFromBtn" value="Delete" />
                                     </form>
                                </div>
                            </div>
                        }
                    }
                    <div class="row">
                        <h1>Sum : <span id="exportsum">@importsum</span></h1>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="EndBalance">
                <h2>Ending Balance : <span id="currentCredit">0</span></h2>
            </div>

        </div>
    </div>

</div>


@section scripts{
    <script>
        $(document).ready(function () {


            $("#toBtnToggle").click(function () {
                $("#toDivToggle").slideToggle();
            });

            $("#fromBtnToggle").click(function () {
                $("#fromDivToggle").slideToggle();
            });
            $("#companyCheckBox").change(function () {
                if ($(this).is(":checked")) {
                    $("#companySelect").removeAttr("disabled");
                    $("#employeeSelect").attr("disabled", "")
                    $("#otherTo").attr("disabled", "")
                    $("#employeeCheckBox").removeAttr("checked")
                    $("#otherCheckBox").removeAttr("checked")

                } else {
                    $("#companySelect").attr("disabled", "")
                }
            });

            $("#employeeCheckBox").change(function () {
                if ($(this).is(":checked")) {
                    $("#employeeSelect").removeAttr("disabled");
                    $("#companySelect").attr("disabled", "")
                    $("#otherTo").attr("disabled", "")
                    $("#companyCheckBox").removeAttr("checked")
                    $("#otherCheckBox").removeAttr("checked")

                } else {
                    $("#employeeSelect").attr("disabled", "")
                }
            });


            $("#otherCheckBox").change(function () {
                if ($(this).is(":checked")) {
                    $("#otherTo").removeAttr("disabled");
                    $("#employeeSelect").attr("disabled", "")
                    $("#companySelect").attr("disabled", "")
                    $("#companyCheckBox").removeAttr("checked")
                    $("#employeeCheckBox").removeAttr("checked")
                } else {
                    $("#otherTo").attr("disabled", "")
                }
            });

            $("#day").change(function () {
                window.location.href = "/Money/viewMoneyDays?day=" + $("#day").val();
            });

        });

    </script>
}