@{
    ViewBag.Title = "طبيب";
}

<h2>طبيب</h2>
<div class="container">
    <div class="row">
        <form class="form-inline" method="post" action="@Url.Action("viewDoctor" , "Doctor")">
            <div class="form-group">
                <div class="col-md-3">
                    <label>اختر الطبيب</label>
                </div>
                @{
                    teethLab.teethLabEntities db = new teethLab.teethLabEntities();
                    List<teethLab.doctor> doctors = db.doctors.Where(d => d.isActive == true).ToList();
                }
                <div class="col-md-6">
                    <select name="doctorId" id="doctorId" class="form-control">
                        <option></option>
                        @{
                            foreach (teethLab.doctor doc in doctors)
                            {
                                <option value="@doc.id">@doc.name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-3">
                    <label>من</label>
                </div>
                <div class="col-md-6">
                    <input type="date" class="form-control" id="fromDate" name="fromDate" />
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="col-md-3">
                    <label>الى</label>
                </div>
                <div class="col-md-6">
                    <input type="date" class="form-control" id="toDate" name="toDate" />
                </div>
            </div>
            <br />
            <div class="row">
                <input type="submit" class="btn btn-default" value="submit" />
            </div>
        </form>
    </div>
    @{
        var doctor = (teethLab.doctor)ViewData["doctor"];
        var money = (List<teethLab.money>)ViewData["money"];
        var transactions = (List<teethLab.transaction>)ViewData["transactions"];
        if (doctor != null)
        {
            <div class="row">
                <h2>@doctor.name</h2>
                <label>@doctor.address</label>
                <br />
                @{
            foreach (teethLab.doctorPhone phone in doctor.doctorPhones)
            {
                <label>@phone.phone -</label>
            }
            <br />
                }
            </div>
        }
        <br />
        
        int credit = 0;
        if (transactions != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>اسم الحالة</th>
                        <th>رقم الحالة</th>
                        <th>الحالة</th>
                        <th>لون الحالة</th>
                        <th>سعر الحالة</th>
                        <th>اسم المريض</th>
                        <th>تاريخ الدخول</th>
                        <th> ملاحظات</th>
                        <th>خرجت</th>
                    </tr>
                </thead>
                <tbody>
                    @{
            foreach (teethLab.transaction transaction in transactions)
            {
                credit += transaction.price;
                <tr>
                    <td>@transaction.caseName</td>
                    <td>@transaction.caseNumber</td>

                    @{
                string caseTeeth =  transaction.caseTeeth;
                string[]cases = caseTeeth.Split('#');
                string ul =cases[0].Split('$')[0];
                string ur = cases[1].Split('$')[0];
                string ll = cases[2].Split('$')[0];
                string lr = cases[3].Split('$')[0];
                    }
                    <td><label>@ul</label>||<label>@ur</label><br /><label>@ll</label>||<label>@lr</label></td>
                    <td>@transaction.caseColor</td>
                    <td>@transaction.price</td>
                    <td>@transaction.patientName</td>
                    <td>@transaction.recieveDate</td>
                    <td>@transaction.notes</td>
                    <td><input type="button" data-transactionId="@transaction.id" class="btn btn-default outCaseBtn" value="تغيير"/><label class="outCaseVal">@{Write(transaction.isOut == true ? "نعم" : "لا");}</label></td>


            </tr>
            }
                    }
                </tbody>
            </table>

        }
        int depit = 0;
        if (money != null)
        {
            foreach (teethLab.money mon in money)
            {
                depit = mon.value;
                <div class="row">
                    <label>دفع @mon.value بتاريخ @mon.recieveDate</label>
                </div>
            }
        }
        if (doctor != null)
        {

            int totalCredit = credit - depit;
            <br />
            <div class="row">
                <label>دين الطبيب في الفترة المختارة= @totalCredit</label><br />
                <label>الدين الكلي = @doctor.depit </label>
            </div>
        }

}

</div>
@section scripts{
<script>
    $(document).ready(function () {
        $(".outCaseBtn").click(function () {
            button = this;
            transId = $(this).attr("data-transactionId");
            $.post("@Url.Action("changeCase" , "Doctor")", "transId=" + transId, function (res) {
                if (res == "success") {
                    alert("تم التعديل");
                    if ($(button).parent().find(".outCaseVal").html() == "نعم") {
                        $(button).parent().find(".outCaseVal").html("لا");
                    } else if ($(button).parent().find(".outCaseVal").html() == "لا") {
                        $(button).parent().find(".outCaseVal").html("نعم");
                    }
                }
            });
        });
    });
    </script>
}