@helper renderTable(List<teethLab.CaseTransaction> transactions)
{
    foreach (teethLab.CaseTransaction transaction in transactions)
    {
        <tr>

            <td>@transaction.notes</td>
            @{

        DateTime toRecDay = (DateTime)transaction.deliverDate;
        string date = toRecDay.ToString("yyyy-MM-dd");
            }
            <td>@date</td>
            <td>@transaction.patientName</td>
            <td>@transaction.caseColor1 - @transaction.caseColor2 -@transaction.caseColor3</td>
            @{
        string caseName = transaction.CurrentCas.name;
            }
            <td>
                @caseName
                <div style="position:relative">
                    <div id="" class="colShadeFollow ul" style="float:left">
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UL8" style="float:right">8</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UL7" style="float:right">7</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UL6" style="float:right">6</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UL5" style="float:right">5</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UL4" style="float:right">4</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UL3" style="float:right">3</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UL2" style="float:right">2</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UL1" style="float:right">1</a>

                    </div>

                    <div class="" style="
    position:absolute;

    ">
                        <img style="width:5px;height:68px;margin:1px 130px" src="~/Content/images/controls/VrLineWhite.png" />
                    </div>

                    <div id="" class="colShadeFollow ur" style="float:right">

                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UR1" style="float:left">1</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UR2" style="float:left">2</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UR3" style="float:left">3</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UR4" style="float:left">4</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UR5" style="float:left">5</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UR6" style="float:left">6</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UR7" style="float:left">7</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.UR8" style="float:left">8</a>


                    </div>

                    <div style="width:100%;">
                        <img style="width:100%;height:15px;" src="~/Content/images/controls/HorizontalLinewhite.png" />
                    </div>

                    <div id="" class="colShadeFollow ll" style="float:left">
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LL8" style="float:right">8</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LL7" style="float:right">7</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LL6" style="float:right">6</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LL5" style="float:right">5</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LL4" style="float:right">4</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LL3" style="float:right">3</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LL2" style="float:right">2</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LL1" style="float:right">1</a>


                    </div>
                    <div id="" class="colShadeFollow lr" style="float:right">
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LR1" style="float:left">1</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LR2" style="float:left">2</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LR3" style="float:left">3</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LR4" style="float:left">4</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LR5" style="float:left">5</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LR6" style="float:left">6</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LR7" style="float:left">7</a>
                        <a href="#" class="img-circle crossNumberFollow upper" data-on="@transaction.LR8" style="float:left">8</a>

                    </div>

                </div>

            </td>
            @{
        teethLab.teethLabEntities db = new teethLab.teethLabEntities();
        int caseId = transaction.CurrentCas.id;
        int docId = transaction.doctor.id;

        teethLab.caseDoctorPrice casePrice = db.caseDoctorPrices.FirstOrDefault(o => o.doctorId == docId && o.caseId == caseId);
        int price = 0;
        if (casePrice != null)
        {
            price = casePrice.price;
        }
        else
        {
            price = transaction.CurrentCas.defaultPrice;
        }
            }
            <td>@transaction.doctor.name</td>
            <td>@transaction.caseNumber</td>
            <td>@price</td>
            <td>@transaction.price</td>
            <td>
                <form method="post" action="@Url.Action("Print", "Transaction")">
                    <input type="hidden" name="transId" value="@transaction.id" />
                    <input type="submit" value="Print" class="btn btn-primary" />
                </form>
            </td>
        </tr>
    }

}
@{
    ViewBag.Title = "followUpCases";

    DateTime day;
    if (ViewData["day"] == null)
    {
        day = DateTime.Now;
        ViewData["day"] = day;
    }
    else
    {
        day = (DateTime)ViewData["day"];

    }
    /*

    DateTime day;
    FileStream fs = new FileStream(Server.MapPath("~") + "/Content/files/startdate.txt", FileMode.Open);

    StreamReader sr = new StreamReader(fs);

    string date = sr.ReadToEnd();
    sr.Close();
    fs.Close();
    System.Globalization.CultureInfo enUS = new System.Globalization.CultureInfo("en-US");
    DateTime.TryParseExact(date, "yyyy-MM-dd", enUS,
                              System.Globalization.DateTimeStyles.None, out day);
*/



    teethLab.teethLabEntities db = new teethLab.teethLabEntities();
    List<teethLab.CaseTransaction> inputCases = new List<teethLab.CaseTransaction>();
    if (db.CaseTransactions.Where(t => t.recieveDate.Value.Year == day.Year && t.recieveDate.Value.Month == day.Month && t.recieveDate.Value.Day == day.Day && t.isOut == false && t.prova == false).Count() > 0)
    {
        inputCases = db.CaseTransactions.Where(t => t.recieveDate.Value.Year == day.Year && t.recieveDate.Value.Month == day.Month && t.recieveDate.Value.Day == day.Day
            && t.isOut == false
            && t.prova == false).ToList();
    }
    List<teethLab.CaseTransaction> inProva = new List<teethLab.CaseTransaction>();
    if (db.CaseTransactions.Where(t => t.recieveDate.Value.Year == day.Year && t.recieveDate.Value.Month == day.Month && t.recieveDate.Value.Day == day.Day && t.isOut == false && t.prova == true).Count() > 0)
    {
        inProva = db.CaseTransactions.Where(t => t.recieveDate.Value.Year == day.Year && t.recieveDate.Value.Month == day.Month && t.recieveDate.Value.Day == day.Day
            && t.isOut == false
            && t.prova == true).ToList();
    }


    List<teethLab.CaseTransaction> outCases = new List<teethLab.CaseTransaction>();
    if (db.CaseTransactions.Where(t => t.recieveDate.Value.Year == day.Year && t.recieveDate.Value.Month == day.Month && t.recieveDate.Value.Day == day.Day && t.isOut == true && t.prova == false).Count() > 0)
    {
        outCases = db.CaseTransactions.Where(t => t.recieveDate.Value.Year == day.Year && t.recieveDate.Value.Month == day.Month && t.recieveDate.Value.Day == day.Day
            && t.isOut == true
            && t.prova == false).ToList();
    }
    List<teethLab.CaseTransaction> outProva = new List<teethLab.CaseTransaction>();
    if (db.CaseTransactions.Where(t => t.recieveDate.Value.Year == day.Year && t.recieveDate.Value.Month == day.Month && t.recieveDate.Value.Day == day.Day && t.isOut == true && t.prova == true).Count() > 0)
    {
        outProva = db.CaseTransactions.Where(t => t.recieveDate.Value.Year == day.Year && t.recieveDate.Value.Month == day.Month && t.recieveDate.Value.Day == day.Day
            && t.isOut == true
            && t.prova == true).ToList();
    }
}

<style>
    .tabsFollow {
        text-align: center;
    }

    .buttonsFollow {
    }

    .colShadeFollow {
    }

        .colShadeFollow a {
        }

    .crossNumberFollow[data-on='false'], .crossNumberFollow[data-on=False], #newMonth[data-on='false'], #newMonth[data-on='False'] {
        margin: 1px;
        position: relative;
        float: left;
        background-color: #012b43;
        color: white;
        height: 23px;
    }

    .crossNumberFollow[data-on='true'], .crossNumberFollow[data-on=True], #newMonth[data-on='true'], #newMonth[data-on='True'] {
        margin: 1px;
        position: relative;
        float: left;
        background-color: red;
        color: white;
        height: 23px;
    }

   
</style>


<div class="">
    <div class="container" style="text-align:center;">
        <div class="row" style="text-align:center;">
            <h1 style="text-transform:capitalize;color:#99c2e1">Daily Cases</h1>

            <input style="margin:10px auto !important" type="date" class="" value="@day.ToString("yyyy-MM-dd")" id="day" />
        </div>
        <div class="row">
            <input type="button" class="col-md-5 tabsFollow" id="outCaseFollow" style="margin-left:5%;" value="Output" />
            <input type="button" class="col-md-5 tabsFollow" id="inputCaseFollow" style="margin-left:5%;" value="Input" />

        </div>
        <br />
        <div class="row">
            <input type="button" class="buttonsFollow" id="OutCaseBtn" style="float:left; display:none; margin-left:5%;" value="Output Case" />
            <input type="button" class="buttonsFollow" id="AddCaseBtn" style=" float:right; margin-right:6.5%;" value="Input Case" />

        </div>
        <br />
        <div id="inFollow">
            @{
                if (inputCases != null)
                {
                    <div class="row"><h1>New</h1></div>
                    <div class="row">
                        <div id="newCasesInFollow">
                            <div class="col-md-12" style="">
                                <table class="mytable ">
                                    <thead>
                                        <tr>
                                            <th>Notes</th>
                                            <th>Deliv. Date</th>
                                            <th>Patient</th>
                                            <th>Shade</th>
                                            <th>Case</th>
                                            <th>Doctor</th>
                                            <th>Case No</th>
                                            <th>Unit Price</th>
                                            <th>Total Prices</th>
                                            <th>Print</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @renderTable(inputCases)
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>


                    <br />
                    <br />

                }
            }
            <hr />
            @{
                if (inProva != null)
                {
                    <div class="row"><h1>Prova</h1></div>
                    <div class="row">
                        <div id="provaCasesInFollow">

                            <div class="col-md-12" style="">
                                <table class="mytable ">
                                    <thead>
                                        <tr>
                                            <th>Notes</th>
                                            <th>Deliv. Date</th>
                                            <th>Patient</th>
                                            <th>Shade</th>
                                            <th>Case</th>
                                            <th>Doctor</th>
                                            <th>Case No</th>
                                            <th>Unit Price</th>
                                            <th>Total Prices</th>
                                            <th>Print</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @renderTable(inProva)


                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>


                }
            }

        </div>


        <div id="outFollow" style="display:none">
            <br />
            @{
                if (outCases != null)
                {


                    <div id="newCasesOutFollow" style="">
                        <div class="row"><h1>Delivered</h1></div>
                        <div class="row">
                            <div class="col-md-12" style="">
                                <table class="mytable ">
                                    <thead>
                                        <tr>
                                            <th >Notes</th>
                                            <th >Deliv. Date</th>
                                            <th >Patient</th>
                                            <th >Shade</th>
                                            <th >Case</th>
                                            <th >Doctor</th>
                                            <th >Case No</th>
                                            <th >Unit Price</th>
                                            <th >Total Prices</th>
                                            <th >Print</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @renderTable(outCases)



                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                }
            }
            @{
                if (outProva != null)
                {

                    <br /><br />
                    <div id="provaCasesOutFollow" style="">
                        <div class="row"><h1>Prova</h1></div>
                        <div class="row">
                            <div class="col-md-12" style="">
                                <table class="mytable ">
                                    <thead>
                                        <tr>
                                            <th >Notes</th>
                                            <th >Deliv. Date</th>
                                            <th >Patient</th>
                                            <th >Shade</th>
                                            <th >Case</th>
                                            <th >Doctor</th>
                                            <th >Case No</th>
                                            <th >Unit Price</th>
                                            <th >Total Prices</th>
                                            <th >Print</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @renderTable(outProva)


                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>

                }
            }
        </div>


    </div>
</div>
<div id="popupCaseIn" style="display:none;position:fixed;width:100%;height:100%;top:0;left:0;z-index:999;">
    <div id="popupbackCaseIn" style="position:absolute;width:100%;height:100%;background-color:grey;opacity:0.5;z-index:1;"></div>
    <div id="popupcontentCaseIn" style="position:relative; width:50%;height:80%;border-radius:5px;margin:30px auto;z-index:2;">
        <div id="caseIn1" style="display:none">
            @Html.Partial("~/Views/Transaction/_caseIn.cshtml")
        </div>
        <div id="caseIn2" style="display:none">
            @Html.Partial("~/Views/Transaction/_caseIn2.cshtml")
        </div>
    </div>
</div>
<div id="popupCaseOut" style="display:none;position:fixed;width:100%;height:100%;top:0;left:0;z-index:999;">
    <div id="popupbackCaseOut" style="position:absolute;width:100%;height:100%;background-color:grey;opacity:0.5;z-index:1;"></div>
    <div id="popupcontentCaseOut" style="position:relative; width:50%;height:80%;border-radius:5px;margin:100px auto;z-index:2;">
        @Html.Partial("~/Views/Transaction/_caseOut.cshtml")

    </div>
</div>
@section scripts{
    <script>

        $(document).ready(function () {
            $("#outCaseFollow").click(function (e) {
                $("#AddCaseBtn").hide();
                $("#AddCaseBtn").css("margin-left", "68%");
                $("#OutCaseBtn").show();
                $("#inFollow").hide();
                $("#outFollow").show();
            });
            $("#inputCaseFollow").click(function () {
                $("#AddCaseBtn").show();
                $("#AddCaseBtn").css("margin-left", "68%");
                $("#OutCaseBtn").hide();
                $("#inFollow").show();
                $("#outFollow").hide();
            });
            $("#AddCaseBtn").click(function () {


                $("#popupCaseIn").fadeIn();
                $("#caseIn1").fadeIn();
                $("#caseIn2").fadeOut();
            });
            $("#OutCaseBtn").click(function () {
                $("#popupCaseOut").fadeIn();
            });


            $("#inputBtn , #outPrint").click(function () {

                @*id = $("#caseNo2ndPage").html();
                action = $(this).attr("data-statu");
                doctorId = $("#doctor").val();
                if (doctorId == "" || doctorId == null || isNaN(doctorId)) {
                    alert("You Should Select Doctor !");
                    e.preventDefault();
                    return;

                }
                doctorName = $("#doctor option:selected").text();

                caseId = $("#case").val();
                if (caseId == "" || caseId == null || isNaN(caseId)) {
                    alert("You Should Select Case !");
                    return;
                }
                caseName = $("#case option:selected").text();
                caseColor = $("#shadeColor").html();
                if (caseColor == "" || caseColor == null || caseColor == "Shade") {
                    alert("You Should Pick Color !");
                    return;
                }
                patientName = $("#patientName").val();
                recieveDate = $("#recieveDate").val();


                notes = $("#notes").val();
                day = $("#day").val();

                numCases = 0;
                ul = "";
                $("#ul .crossNumber[data-on='1']").each(function () {
                    ul += $(this).html() + ",";
                    numCases++;
                });
                ul = ul.substring(0, ul.length - 1);
                ul += "$ul";

                ur = "";
                $("#ur .crossNumber[data-on='1']").each(function () {
                    ur += $(this).html() + ",";
                    numCases++;
                });
                ur = ur.substring(0, ur.length - 1);
                ur += "$ur";

                ll = "";
                $("#ll .crossNumber[data-on='1']").each(function () {
                    ll += $(this).html() + ",";
                    numCases++;
                });
                ll = ll.substring(0, ll.length - 1);
                ll += "$ll";

                lr = "";
                $("#lr .crossNumber[data-on='1']").each(function () {
                    lr += $(this).html() + ",";
                    numCases++;
                });
                lr = lr.substring(0, lr.length - 1);
                lr += "$lr";
                if (numCases == 0) {
                    alert("يجب اختيار ارقام");
                    return;
                }

                caseTeeth = ul + "#" + ur + "#" + ll + "#" + lr;
                newMonth = $("#newMonth").attr("data-on");
                button = this;
                $.post('@Url.Action("addCase" , "Transaction")', "doctorId=" + doctorId
                                    + "&caseId=" + caseId
                                    + "&caseColor=" + caseColor
                                    + "&patientName=" + patientName
                                    + "&notes=" + notes
                                    + "&recieveDate=" + recieveDate
                                    + "&caseTeeth=" + caseTeeth
                                    + "&numCases=" + numCases
                                    + "&day=" + day
                                    + "&newMonth=" + newMonth
                                    + "&action=" + action
                                    + "&transId=" + id
                                    , function (res) {
                                        if (res.split(",")[0] == "success") {
                                            alert("تمت العملية بنجاح");


                                            if ($(button).attr("id") == "outPrint") {
                                                window.location.href = "@Url.Action("Print","Transaction")";
                                            }

                                            $(button).parents("#popupCaseIn").fadeOut();
                                        }
                                    }
                                    );*@


            });

            $("#nextCaseInProva , #nextCaseOutProva , #nextCaseOut").click(function () {
                $("#doctor").val("");
                $("#case").val("");
                $(".shadeColor").html("Shade");
                $(".crossNumber").attr("data-on", "0");
                $("#recieveDate").val("");
                $("#patientNumber").val("");
                $("#notes").val("");
                id = $(this).parent().find(".caseInProvaCaseNumber").val();
                statu = $(this).attr("data-statu");
                if (id != "" && id != null && !isNaN(id)) {

                    $.post("@Url.Action("getCaseById", "Transaction")", "caseId=" + id, function (res) {
                        if (res.split("^")[0] == "success") {

                            var trans = JSON.parse(res.split("^")[1])
                            $("#generatedNo").val(trans.id);
                            $("#caseNo2ndPage").html(trans.caseNumber);
                            $("input[name=caseNumber]").val(trans.caseNumber);
                            $("input[name=caseId]").val(trans.id);
                            $("#popupCaseOut").fadeOut();
                            $("#popupCaseIn").fadeIn();
                            $("#caseIn2").fadeIn();
                            $("#caseIn1").fadeOut();


                            if (statu == "inputProva") {
                                $("#heading").html("Case-In");
                                $("#statu2ndPage").html("Prova");

                                $("#outPrint").hide();
                                $("input[name=status]").val("inputProva");
                                $("#inputBtn").show();
                                $("#inputBtn").css("margin-left", "62%");
                            } else if (statu == "outCase") {
                                $("#heading").html("Case-Out");
                                $("#statu2ndPage").html("Out");
                                $("input[name=status]").val("outCase");

                                $("#outPrint").show();
                                $("#outPrint").css("margin-left", "16%");

                                $("#inputBtn").show();
                                $("#inputBtn").css("margin-left", "16%");

                            } else if (statu == "outProva") {
                                $("#heading").html("Case-Out");
                                $("#statu2ndPage").html("Prova");
                                $("input[name=status]").val("outProva");

                                $("#outPrint").hide();

                                $("#inputBtn").show();
                                $("#inputBtn").css("margin-left", "62%");
                            } else {
                                $("#heading").html("Case-In");
                                $("#statu2ndPage").html("New");

                                $("#outPrint").hide();
                                $("input[name=status]").val("inputCase");

                                $("#inputBtn").show();
                                $("#inputBtn").css("margin-left", "62%");
                            }



                            $("#doctor").val(trans.doctorId);
                            $("#case").val(trans.caseId);
                            $("input[name=shadeColor1]").val(trans.caseColor1);
                            $("input[name=shadeColor2]").val(trans.caseColor2);
                            $("input[name=shadeColor3]").val(trans.caseColor3);

                            $("input[name=shadeColor1]").parent().find(".shadeColor").html(trans.caseColor1);
                            $("input[name=shadeColor2]").parent().find(".shadeColor").html(trans.caseColor2);
                            $("input[name=shadeColor3]").parent().find(".shadeColor").html(trans.caseColor3);
                            $("input[name=patientName]").val(trans.patientName);
                            $("#patientName").val(trans.patientName);
                            $("#notes").val(trans.notes);
                            date = new Date(trans.deliverDate);

                            var day = ("0" + date.getDate()).slice(-2);
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);

                            var today = date.getFullYear() + "-" + (month) + "-" + (day);
                            $("#recieveDate").val(today);
                            $("input[name=recieveDate]").val(today);

                            if (trans.LL1 == true) { $("input[name=LL1]").val("1"); $("input[name=LL1]").parent().attr("data-on", "1"); }
                            if(trans.LL2==true){$("input[name=LL2]").val("1");$("input[name=LL2]").parent().attr("data-on","1");}
                            if(trans.LL3==true){$("input[name=LL3]").val("1");$("input[name=LL3]").parent().attr("data-on","1");}
                            if(trans.LL4==true){$("input[name=LL4]").val("1");$("input[name=LL4]").parent().attr("data-on","1");}
                            if(trans.LL5==true){$("input[name=LL5]").val("1");$("input[name=LL5]").parent().attr("data-on","1");}
                            if(trans.LL6==true){$("input[name=LL6]").val("1");$("input[name=LL6]").parent().attr("data-on","1");}
                            if(trans.LL7==true){$("input[name=LL7]").val("1");$("input[name=LL7]").parent().attr("data-on","1");}
                            if(trans.LL8==true){$("input[name=LL8]").val("1");$("input[name=LL8]").parent().attr("data-on","1");}
                            if(trans.LR1==true){$("input[name=LR1]").val("1");$("input[name=LR1]").parent().attr("data-on","1");}
                            if(trans.LR2==true){$("input[name=LR2]").val("1");$("input[name=LR2]").parent().attr("data-on","1");}
                            if(trans.LR3==true){$("input[name=LR3]").val("1");$("input[name=LR3]").parent().attr("data-on","1");}
                            if(trans.LR4==true){$("input[name=LR4]").val("1");$("input[name=LR4]").parent().attr("data-on","1");}
                            if(trans.LR5==true){$("input[name=LR5]").val("1");$("input[name=LR5]").parent().attr("data-on","1");}
                            if(trans.LR6==true){$("input[name=LR6]").val("1");$("input[name=LR6]").parent().attr("data-on","1");}
                            if(trans.LR7==true){$("input[name=LR7]").val("1");$("input[name=LR7]").parent().attr("data-on","1");}
                            if(trans.LR8==true){$("input[name=LR8]").val("1");$("input[name=LR8]").parent().attr("data-on","1");}
                            if(trans.UR1==true){$("input[name=UR1]").val("1");$("input[name=UR1]").parent().attr("data-on","1");}
                            if(trans.UR2==true){$("input[name=UR2]").val("1");$("input[name=UR2]").parent().attr("data-on","1");}
                            if(trans.UR3==true){$("input[name=UR3]").val("1");$("input[name=UR3]").parent().attr("data-on","1");}
                            if(trans.UR4==true){$("input[name=UR4]").val("1");$("input[name=UR4]").parent().attr("data-on","1");}
                            if(trans.UR5==true){$("input[name=UR5]").val("1");$("input[name=UR5]").parent().attr("data-on","1");}
                            if(trans.UR6==true){$("input[name=UR6]").val("1");$("input[name=UR6]").parent().attr("data-on","1");}
                            if(trans.UR7==true){$("input[name=UR7]").val("1");$("input[name=UR7]").parent().attr("data-on","1");}
                            if(trans.UR8==true){$("input[name=UR8]").val("1");$("input[name=UR8]").parent().attr("data-on","1");}
                            if(trans.UL1==true){$("input[name=UL1]").val("1");$("input[name=UL1]").parent().attr("data-on","1");}
                            if(trans.UL2==true){$("input[name=UL2]").val("1");$("input[name=UL2]").parent().attr("data-on","1");}
                            if(trans.UL3==true){$("input[name=UL3]").val("1");$("input[name=UL3]").parent().attr("data-on","1");}
                            if(trans.UL4==true){$("input[name=UL4]").val("1");$("input[name=UL4]").parent().attr("data-on","1");}
                            if(trans.UL5==true){$("input[name=UL5]").val("1");$("input[name=UL5]").parent().attr("data-on","1");}
                            if(trans.UL6==true){$("input[name=UL6]").val("1");$("input[name=UL6]").parent().attr("data-on","1");}
                            if(trans.UL7==true){$("input[name=UL7]").val("1");$("input[name=UL7]").parent().attr("data-on","1");}
                            if (trans.UL8 == true) { $("input[name=UL8]").val("1");$("input[name=UL8]").parent().attr("data-on","1");}
                         
                            $("#inputBtn").attr("data-statu", statu);
                            $("#backToCaseIn").attr("data-statu", statu);


                        } else {
                            alert("Case Not Exists");
                        }
                    });
                } else {
                    alert("Please provide case Number");
                }
            });

            //

            $("#popupback , #popupbackOut , #outCase , #popupbackCaseIn , #popupbackCaseOut").click(function () {
                //$("#popup").fadeOut();
                $(this).parent().fadeOut();
            });
            $("#AddCaseBtn").click(function () {
                $("#popupCaseIn").fadeIn();
                $("#caseIn1").fadeIn();
                $("#caseIn2").fadeOut();
            });

            $("#generateBtn").click(function () {
                button = this;
                day = $("#day").val();
                $.post("@Url.Action("getNewCaseNumber" , "Transaction")", "day="+day, function (res) {

                    $(button).after("<span id='spanGenrated'>Case Number : " + res + "</span>");
                    $(button).hide();
                    $("#generatedNo").val(res);
                    $("#caseNo2ndPage").html(res);
                    $("input[name=caseNumber]").val(res);
                });
            });
            $("#nextCaseIn").click(function () {
                if ($("#generateBtn").css("display") == "none") {
                    $("#doctor").val("");
                    $("#case").val("");
                    $(".shadeColor").html("Shade");
                    $(".crossNumber").attr("data-on", "0");
                    $(".crossNumber input").val("0");

                    $("#recieveDate").val("");
                    $("#patientNumber").val("");
                    $("#notes").val("");
                    $("#backToCaseIn").attr("data-statu", "inputCase");
                    $("#inputBtn").attr("data-statu", "inputCase");
                    $("#spanGenrated").remove();
                    $("#generateBtn").show();
                    $("#popupCaseIn").fadeIn();
                    $("#caseIn2").fadeIn();
                    $("#caseIn1").fadeOut();
                    $("#statu2ndPage").html("New");
                    $("input[name=status]").val("inputCase");
                }

            });
            $("#backToCaseIn").click(function () {

                $("#spanGenrated").remove();
                $("#generateBtn").show();
                $("#caseIn2").fadeOut();
                statu = $(this).attr("data-statu");
                if (statu == "inputCase" || statu == "inputProva") {
                    $("#popupCaseIn").fadeIn();
                    $("#caseIn1").fadeIn();
                    $("#popupCaseOut").fadeOut();

                } else if (statu == "outCase" || statu == "outProva") {
                    $("#popupCaseOut").fadeIn();
                    $("#popupCaseIn").fadeOut();
                    $("#caseIn1").fadeOut();

                }
            });
            $("#OutCaseBtn").click(function () {
                $("#popupCaseOut").fadeIn();
            });

            $("#fullLower").click(function () {
                if ($(".lowerCase").attr("data-on") == '0') {
                    $(".lowerCase").attr("data-on", '1');
                    $(".lowerCase").find("input").val("1");

                } else {
                    $(".lowerCase").attr("data-on", '0');
                    $(".lowerCase").find("input").val("0");

                }
            });
            $("#fullUpper").click(function () {
                if ($(".upperCase").attr("data-on") == '0') {
                    $(".upperCase").attr("data-on", '1');
                    $(".upperCase").find("input").val("1");

                } else {
                    $(".upperCase").attr("data-on", '0');
                    $(".upperCase").find("input").val("0");

                }
            });
            $(".caseNumber , #newMonth , .crossNumber").click(function () {
                if ($(this).attr("data-on") == '0') {
                    $(this).attr("data-on", '1');
                    $(this).find("input").val("1");
                } else if ($(this).attr("data-on") == '1') {
                    $(this).attr("data-on", '0');
                    $(this).find("input").val("0");

                }
            });



            $(".close").click(function () {
                $(this).parents(".modal").fadeOut();
            });

            $(".colorImages").click(function () {
                $(".pickColor[data-active]").parent().find(".shadeColor").html($(this).attr("data-val"));
                $(".pickColor[data-active]").parent().find("input").val($(this).attr("data-val"));
                $("#popup").fadeOut();

                //                $("#color").val($(this).attr("data-val"));

            });

            $("#pick , .pickColor").click(function () {
                $(".pickColor").removeAttr("data-active");
                $(this).attr("data-active", "active");
                $("#popup").fadeIn();
            });

            $("#day").change(function () {
                window.location.href = "/Transaction/followUpCases?day=" + $("#day").val();
            });


        });

    </script>
}
