@model teethLab.company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>company</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@{
    ViewBag.Title = "حساب شركة";
}
@section head{
    <style>
        body {
            text-align: right;
        }
    </style>
}



<div class="row">
    <div class="col-md-2">
        <h3>الصنف</h3>
    </div>
    <div class="col-md-1">
        <h3>السعر</h3>
    </div>
    <div class="col-md-1">
        <h3>التاريخ</h3>
    </div>
    <div class="col-md-4">
        <h3>الدفعات</h3>
        <div>
            <label class="col-md-4">مبلغ</label><label class="col-md-4">

                تاريخ
            </label>
        </div>
    </div>
    <div class="col-md-2">
        <h3>الرصيد</h3>
    </div>
    <div class="col-md-2">
        <h3>ملاحظات</h3>
    </div>
</div>


@{
    foreach (teethLab.product pro in Model.products)
    {
        <div class="row">
            <div class="col-md-2">
                <h3>@pro.name</h3>
            </div>
            <div class="col-md-1">
                <h3>@pro.price</h3>
            </div>
            <div class="col-md-1">
                <h3>@pro.enterDate.ToString("yyyy-MM-dd")</h3>
            </div>
            <br />
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <input type="number" class="cost form-control" placeholder="المبلغ" />
                    </div>
                    <div class="col-md-6">
                       <input type="date" class="date col-md-6 form-control" />
                    </div>
                    <input data-id="@pro.id" type="button" class="btn btn-default dof3at" value="اضافة" />
                </div>
                @{
        int currentCost = 0;
                    foreach(teethLab.productPay pp in pro.productPays){
                        currentCost += pp.cost;
                        <div>
                            <label class="col-md-4 cost">@pp.cost</label><label class="col-md-4 date">
                                @pp.payDate.ToString("yyyy-MM-dd")
                            </label><input data-id="@pp.id" class='btn btn-default remove' type='button' value='مسح' />
                        </div>
                    }
                }

            </div>
            <div class="col-md-2">
                <h3 class="credit">@currentCost</h3>
            </div>
            <div class="col-md-2">
                <h3>@pro.notes</h3>
            </div>
        </div>
    }
}

  


<div id="companyProducts"></div>



@section scripts{
    <script>
        $(document).ready(function () {


            $(".remove").click(function () {
                result = confirm("هل انت متأكد من المسح ؟");
                if (result != true) {
                    return;
                }
                id = $(this).attr("data-id");
                button = this;
                $.post('@Url.Action("deleteDof3a", "Comp")', "id=" + id, function (res) {
                    if (res == "success") {

                        credit = $(button).parents(".row").find(".credit").html();
                        credit = parseInt(credit);

                        cost = $(button).parent().find(".cost").html();
                        cost = parseInt(cost);
                        credit -= parseInt(cost);
                        $(button).parents(".row").find(".credit").html(credit);
                        $(button).parent().remove();
                    }
                });
            });
            $(".dof3at").click(function () {
                date = $(this).parent().find(".date").val();
                cost = $(this).parent().find(".cost").val();
                id = $(this).attr("data-id");
                button = this;
                if (date != null && date != "" && cost != null && cost != "") {
                    $.post('@Url.Action("AddDof3a", "Comp")', "id=" + id + "&date=" + date + "&cost=" + cost, function (res) {
                        if (res.split(",")[0] == "success") {
                            productPayId = res.split(",")[1]
                            $(button).parent().parent().append("<div><label class=\"col-md-4 cost\">" + cost + " ج </label><label class=\"col-md-4 date\">" + date + "</label><input data-id='" + productPayId + "'class='btn btn-default remove' type='button' value='مسح' /></div>");
                            credit = $(button).parent().parent().parent().find(".credit").html();
                            credit = parseInt(credit);
                            credit += parseInt(cost);
                            $(button).parent().parent().parent().find(".credit").html(credit + " ج");
                            $(".remove").click(function () {
                                result = confirm("هل انت متأكد من المسح ؟");
                                if (result != true) {
                                    return;
                                }
                                id = $(this).attr("data-id");
                                button = this;
                                $.post('@Url.Action("deleteDof3a", "Comp")', "id=" + id, function (res) {
                                    if (res == "success") {

                                        credit = $(button).parents(".row").find(".credit").html();
                                        credit = parseInt(credit);

                                        cost = $(button).parent().find(".cost").html();
                                        cost = parseInt(cost);
                                        credit -= parseInt(cost);
                                        $(button).parents(".row").find(".credit").html(credit);
                                        $(button).parent().remove();
                                    }
                                });
                            });
                        }
                    });
                }
            });

        });
    </script>
}