@model teethLab.companyProduct

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>companyProduct</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.productId, "product")
        </div>
        <div class="editor-field">
            <select id="productId" name="productId">
                <option></option>
                @{
    teethLab.teethLabEntities db = new teethLab.teethLabEntities();
    foreach (var item in db.products)
    {
        if (Request.QueryString["productid"] == ""+item.id)
        {
            <option selected value="@item.id">@item.name</option>

        }
        else
        {
            <option value="@item.id">@item.name</option>
        }
    }
}
            </select>
        
            @Html.ValidationMessageFor(model => model.productId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.companyId, "company")
        </div>
        <div class="editor-field">
            @Html.DropDownList("companyId", String.Empty)
            @Html.ValidationMessageFor(model => model.companyId)
        </div>

        <div id="ProductUnits">

            @{
               List<teethLab.ProductUnit> ProductUnits = (List<teethLab.ProductUnit>)ViewBag.ProductUnits;
               if (ProductUnits != null)
               {
                <div class="row companyProducts">
                    @foreach (var item in ProductUnits)
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <label>@item.Unit.unit1</label>
                            </div>
                            <div class="col-md-4">
                                <label>Unit Price</label>
                                @{
                        string unitName = "unit" + item.Unit.unit1;
                                }
                                <input type="number" name="@unitName" />
                            </div>
                            <div class="col-md-4">
                                @{
                        string quanName = "quan" + item.Unit.unit1;
                                }
                                <label>Quantity</label>
                                <input type="number" name="@quanName" />
                            </div>

                        </div>

                    }
                </div>

               }

            }
        </div>
      

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $("#productId").on('change', function () {
                if ($(this).val != '') {
                    document.location.href = "/CompanyProducts/Create?productId=" + $(this).val();
                }
            });


        });
    </script>
}
