@model teethLab.companyProduct

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>companyProduct</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.productId, "product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("productId", String.Empty)
            @Html.ValidationMessageFor(model => model.productId)
        </div>
        <div id="ProductUnits" >
            @{ Html.RenderPartial("ProductUnits", new ViewDataDictionary { { "units", ViewBag.unit } });}
        </div>
      
        @*<div class="editor-label">
            @Html.LabelFor(model => model.unit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unit)
            @Html.ValidationMessageFor(model => model.unit)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.quantity)
            @Html.ValidationMessageFor(model => model.quantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.unitPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unitPrice)
            @Html.ValidationMessageFor(model => model.unitPrice)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.companyId, "company")
        </div>
        <div class="editor-field">
            @Html.DropDownList("companyId", String.Empty)
            @Html.ValidationMessageFor(model => model.companyId)
        </div>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.enterDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.enterDate)
            @Html.ValidationMessageFor(model => model.enterDate)
        </div>*@

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $("#productId").on('change', function () {
                debugger;
                if ($(this).val != '') {

                    $.post("@Url.Action("GetProductUnits", "CompanyProducts")", "productId=" + $(this).val());
                }
            });


        });
    </script>
}


