@model IEnumerable<teethLab.employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<a href="@Url.Action("offAndRewards")"><input type="button" value=" Off and Rewards" /></a>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.defaultSalary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("EmployeeProfile", new { id = item.id })">@Html.DisplayFor(modelItem => item.name)</a>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.defaultSalary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
