<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("head", required: false)
</head>
<body>
    @{
        if (!teethLab.tools.isUserLogged())
        {
            if (Request.Url.AbsolutePath != Url.Action("viewLogin", "User"))
            {
                Response.Redirect(Url.Action("viewLogin", "User"));
            }
        }

    }
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index" ,"Home")">Clinic Lab</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index" ,"Home")">Home</a></li>
                    <li><a href="@Url.Action("viewMoneyDays", "Money")">Financies</a></li>
                    <li><a href="@Url.Action("followUpCases", "Transaction")">Cases</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("clientsdatabase", "Doctor")">Clients' Database</a></li>
                    <li><a href="@Url.Action("viewCurrentCases", "Transaction")">Current Cases</a></li>
                    <li><a href="@Url.Action("Index", "Employee")">Employees</a></li>
                    <li><a href="@Url.Action("Index", "Comp")">Companies</a></li>
                    <li><a href="@Url.Action("Index", "User")">Users</a></li>
                    @{
                        if (teethLab.tools.isUserLogged())
                        {
                            teethLab.teethLabEntities db = new teethLab.teethLabEntities();

                            <li><a href="#"><span class="glyphicon glyphicon-user"></span>@db.users.Find((int)Session["userId"]).name</a></li>

                            if (teethLab.tools.isAdminLogged())
                            {
                                <li><a href="@Url.Action("viewRegister" , "User")"><span class="glyphicon glyphicon-user"></span>Add User</a></li>
                            }
                            <li><a href="@Url.Action("logOut" , "User")"><span class="glyphicon glyphicon-user"></span>LogOut</a></li>
                        }
}
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/scripts/jquery.js"></script>
    <script src="~/Content/scripts/bootstrap.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
